{% extends "app/base.html" %}
{% load static %}
{% block content %}

<div class="row mt-5">
    <div class="col-md-6">
        <div class="card card-body">
            <p>Are you sure want to delete "{{object}}"</p>

            <form action="" method="POST">
                {% csrf_token %}
                <a href="{% url 'app:list' %}" class="btn btn-warning">Cancel</a>
                <input type="submit" class="btn btn-danger" name="Confirm">
            </form>
        </div>
    </div>
</div>

{% endblock %}